:root {
  --cyan-100: 183 90% 90%;
  --cyan-200: 183 90% 80%;
  --cyan-300: 183 90% 70%;
  --cyan-400: 183 90% 60%;
  --cyan-500: 183 90% 50%;
  --cyan-600: 183 90% 40%;
  --cyan-700: 183 90% 30%;
  --cyan-800: 183 90% 20%;
  --cyan-900: 183 90% 10%;
}
